 html,
  body { margin: 0px; 
    overflow-x: hidden;
    line-height: 1;
    font-family: full_letter !important;
  }
  
  @font-face {
      font-family: full_letter;
      src: url(assets/fonts/Calendas_Plus.otf);
    }